#education-section {
  min-height: 30vh;
  .header {
    @extend .m-0;
  }

  .lead {
    @extend .p-2;
    display: flex;
    justify-content: space-around;
  }

  .description {
    font-size: 1.15rem;
    font-weight: 400;
  }

  .content {
    @extend .d-flex;
    @extend .w-100;
    flex-direction: row;
  }
}

@media (min-width: $layout-breakpoint-small) {
  #education-section {
    .lead {
      padding: 2rem !important;
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  #education-section {
    padding: 1rem !important;
  }
}
