@font-face {
    font-family: 'bnazanin';
    src: url('/assets/fonts/B-NAZANIN.ttf')  format('truetype');
}

@font-face {
    font-family: 'btitr';
    src: url('/assets/fonts/B-TITR.ttf')  format('truetype');
}