// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $gray-600;

}

html:lang(fa) * {
    font-family: 'bnazanin' !important;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }

    body:lang(fa) {
        padding-left: 0 !important;
        padding-right: $sidebar-base-width !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;

    &:lang(fa) {
        font-family: "btitr" !important;
    }
}

h1 {
    line-height: 1;
}

hr.divider {
    @extend .m-0;
    @extend .d-print-none;
}

ul,
ol {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

section {
    @extend .px-4;
    @extend .py-5;
}

.page-break {
    page-break-inside: avoid !important;
    opacity: 0;
}

@media (max-width: $layout-breakpoint-small) {
    body #sideNav .desktop {
        display: none !important;
    }
}

@media (min-width: $layout-breakpoint-small) {
    html {
        text-align: justify;
        word-wrap: normal;
    }

    body #sideNav .mobile {
        display: none !important;
    }
}

@media print {
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    section {
        padding: 0 !important;
    }

    .page-break {
        page-break-inside: avoid !important;
        width: 32px;
        height: 32px;
    }
}