// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $gray-600;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    line-height: 1;
}

hr.divider {
    @extend .m-0;
    @extend .d-print-none;
}

ul,
ol {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

section {
    @extend .px-4;
    @extend .py-5;
}

.page-break {
    page-break-inside: avoid !important;
    opacity: 0;
}

@media print {
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    section {
        padding: 0 !important;
    }

    .page-break {
        page-break-inside: avoid !important;
        width: 32px;
        height: 32px;
    }
}